<div class="mega-menu-items">

{% for child in parent.links %}

    {% assign collection = child.object %}

    <a href="{{ child.url }}" class="mega-menu-item">

        <div class="mega-menu-item__icon">

            {% if collection and collection.metafields.custom.menu_icon %}

                {{
                    collection.metafields.custom.menu_icon
                    | image_url: width: 48
                    | image_tag
                }}

            {% endif %}

        </div>

        <div class="mega-menu-item__content">
            <span class="mega-menu-item__title">{{ child.title }}</span>
            <span class="mega-menu-item__arrow">  <img src="{{ 'forward-slash-icon.svg' | asset_url }}" alt=""> </span>
        </div>
    </a>

{% endfor %}

</div>



<style>
    .mega-menu-items{
    display:grid;
    grid-template-columns:repeat(2,minmax(0,1fr));
    gap:0px 10px;
}

.mega-menu-item{
    display:flex;
    align-items:center;
    gap:16px;
    text-decoration:none;
    color:#fff;

    width:fit-content;
    min-width: 190px;
    padding-block:10px;

    border-radius:999px;
    background:transparent;
    transition:all .3s ease;
}
.mega-menu-item:hover
{
    background:#020922;
}

.mega-menu-item__icon{
    width: 46px;
    height: 46px;
    max-width: 100%;
    max-height: 100%;
    border-radius:50%;
    border:1px solid rgba(255,255,255,.25);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-shrink:0;
    padding: 7px;
}

.mega-menu-item__icon > img{
    width:100%;
    height:100%;
    object-fit: scale-down;
    max-width: 30px;
}
.mega-menu-item__content{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
.mega-menu-item__title{
    display:block;
}

 .mega-menu-item__arrow{
    width:18px;
    height:18px;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}

.mega-menu-item__arrow img{
    width:100%;
    transform:translateX(-10px);
    opacity:0;
    transition:all .3s ease;
}

.mega-menu-item:hover .mega-menu-item__arrow img{
    transform:translateX(0);
    opacity:1;
}
</style>