<div class="custom-mobile-submenu-panel">

    <div class="custom-mobile-submenu-panel__header">

        <button type="button" class="custom-mobile-submenu-panel__back" data-mobile-back>
            {{ 'icon-arrow-left.svg' | inline_asset_content }}
            <span>Back</span>
        </button>

        <h3 class="custom-mobile-submenu-panel__title">  &nbsp;  </h3>

    </div>

    <ul class="custom-mobile-submenu-panel__list">  &nbsp; </ul>

</div>

<style>
.custom-mobile-submenu-panel{
height:100%;
display:flex;
flex-direction:column;
}

.custom-mobile-submenu-panel__header{
display:flex;
align-items:center;
gap:16px;
padding:18px 20px;
border-bottom:1px solid rgba(255,255,255,.08);
}

.custom-mobile-submenu-panel__back{
display:flex;
align-items:center;
gap:10px;
background:none;
border:0;
color:#fff;
cursor:pointer;
padding:0;
}

.custom-mobile-submenu-panel__title{
margin:0;
font-size:18px;
font-weight:600;
color:#fff;
}

.custom-mobile-submenu-panel__list{
margin:0;
padding:0;
list-style:none;
}

.custom-mobile-submenu-panel__list li{
border-bottom:1px solid rgba(255,255,255,.08);
}

.custom-mobile-submenu-panel__list a{
display:flex;
padding:18px 20px;
text-decoration:none;
color:#fff;
}
</style>