<button class="custom-header__drawer-toggle" type="button" data-drawer-toggle aria-label="Open menu" aria-controls="mobile-drawer" aria-expanded="false">
  <span class="custom-header__drawer-icon">
    {{ 'custom-icon-hamburger.svg' | inline_asset_content }}
  </span>
</button>

<style>
  .custom-header__drawer-toggle {
    background: transparent;
    padding: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .custom-header__drawer-toggle svg {
    max-width: 32px;
}
</style>



