<div class="custom-mobile-drawer__header">

    <div class="custom-mobile-drawer__logo">
        {% render 'custom_header_logo' %}
    </div>

    <div class="custom-mobile-drawer__actions">

        <a href="/pages/contact" class="custom-mobile-drawer__contact" aria-label="Contact">
            {{ 'custom-icon-contact.svg' | inline_asset_content }}
        </a>

        <button type="button" class="custom-mobile-drawer__close" data-drawer-close aria-label="Close Menu">
            {{ 'custom-icon-close.svg' | inline_asset_content }}
        </button>

    </div>

</div>

<style>
    .custom-mobile-drawer__header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    border-bottom:1px solid rgba(255,255,255,.08);
    }
    
    .custom-mobile-drawer__actions {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    button.custom-mobile-drawer__close {
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-mobile-drawer__contact{
    width: 50px;
    height: 50px;
}
</style>