<div
  id="mobile-drawer"
  class="custom-mobile-drawer"
  aria-hidden="true"
>

  <div class="custom-mobile-drawer__overlay" data-drawer-close> &nbsp;</div>

  <aside
    class="custom-mobile-drawer__panel"
    role="dialog"
    aria-modal="true"
    aria-label="Mobile Navigation"
  >

    {% render 'custom_mobile_drawer_header' %}

    <div class="custom-mobile-drawer__body">

      {% render 'custom_mobile_menu' %}

    </div>

  </aside>

</div>
<style>
.custom-mobile-drawer{
position:fixed;
inset:0;
z-index:999;
visibility:hidden;
pointer-events:none;
}

.custom-mobile-drawer.is-open{
visibility:visible;
pointer-events:auto;
}

/*Overlay*/
.custom-mobile-drawer__overlay{
position:absolute;
inset:0;
background:rgba(0,0,0,.45);
opacity:0;
transition:.3s;
}

.custom-mobile-drawer.is-open
.custom-mobile-drawer__overlay{
opacity:1;
}

</style>