<button class="custom-header__drawer-toggle" type="button" data-drawer-toggle aria-label="Open menu" aria-controls="mobile-drawer" aria-expanded="false">
  <span class="custom-header__drawer-icon">
    {{ 'icon-hamburger.svg' | inline_asset_content }}
  </span>
</button>





