{%  liquid  
assign mega_heading = section.settings.heading
%}

<div class="custom-mega-menu">
    <p class="mega_title"> {{ mega_heading }}</p>
    <div class="custom-mega-menu__left">

        {% render 'custom_mega_menu_items',
            parent: parent,
            mega_block: mega_block
        %}

    </div>

    <div class="custom-mega-menu__right">

        {% render 'custom_mega_menu_slider',
            mega_block: mega_block,
            section: section
        %}

    </div>
 
</div>

