
{%liquid
        assign main_menu = section.settings.custom_menu
    %}
<ul class="custom_header_navigation">
    
    {% for link in main_menu.links %}
        <li> {{link.title}}</li>
    {% endfor %}
</ul>