{%liquid
  assign custom_menu = section.settings.header_menu
%}

<ul class="custom_header_navigation">
    
    {% for link in custom_menu.links %}
        <li> {{link.title}}</li>
    {% endfor %}
</ul>