
{%liquid
    assign main_menu = section.settings.custom_menu
 %}

<ul class="main_menu">
    
    {% for link in main_menu.links %}
        <li class="main_menu_list"> {{link.title}}</li>
    {% endfor %}

</ul>

<style>
   .custom_header_navigation li{
        list-style: none;
    }
</style>