{% liquid
    assign menu = menu
%}

{% if menu != blank %}

<div class="mega-menu-collections">

    {% for link in menu.links %}

        {% assign collection = link.object %}

        {% if collection %}

            <a
                href="{{ collection.url }}"
                class="mega-menu-collection"
            >

                <div class="mega-menu-collection__icon">

                    {% if collection.metafields.custom.icon != blank %}

                        {{
                            collection.metafields.custom.icon
                            | image_url: width: 48
                            | image_tag:
                                loading: 'lazy',
                                class: 'mega-menu-collection__image'
                        }}

                    {% endif %}

                </div>

                <span>

                    {{ collection.title }}

                </span>

            </a>

        {% endif %}

    {% endfor %}

</div>

{% endif %}

<style>
    .mega-menu-collections{
    display:grid;
    grid-template-columns:repeat(2,minmax(0,1fr));
    gap:18px 70px;
}
</style>