<button class="custom-mobile-menu-toggle" type="button" aria-label="Open menu" aria-expanded="false">
    {% render 'icon-hamburger' %}
</button> 

<button class="custom-header__drawer-toggle" type="button" aria-label="Open menu" aria-controls="mobile-drawer" aria-expanded="false">
  <span class="custom-header__drawer-icon">
    {% render 'icon-hamburger' %}
  </span>
</button>