<div class="custom-header__mobile-wrapper"> 

    <div class="custom-mobile-header__left">
       <button class="custom-mobile-menu-toggle" type="button" aria-label="Open menu" aria-expanded="false">
            {% render 'icon-hamburger' %}
        </button> 
        
        {% render 'custom-header-search' %}
    </div>
   
    
     <div class="custom-mobile-header__center">
        {% render 'custom_header_logo' %}
    </div>

    <div class="custom-mobile-header__right">
        {% render 'custom-header-cart' %}
    </div>

</div>