{%  liquid  
    assign custom_main_menu = section.settings.custom_main_menu
%}

{% if custom_main_menu.links.size > 0 %}

    <nav class="custom-navigation" aria-label="Main Navigation">

        <ul class="custom-navigation__list">

            {% for parent in custom_main_menu.links %}
                {% if parent.levels > 0 %}
                    <li class="mega_menu_item main_menu_item"> {{ parent.title }} 
                        {% for child in parent.links %}
                            <span> {{ child.title }} </span>
                        {% endfor %}
                    </li>
                {% else %}
                    <li class="simple_menu_item main_menu_item"> {{ parent.title }} </li>
                {% endif %}
            {% endfor %}

        </ul>

    </nav>

{% endif %}