<div class="custom-mobile-drawer__header">

    <div class="custom-mobile-drawer__logo">
        {% render 'custom_header_logo' %}
    </div>

    <div class="custom-mobile-drawer__actions">

        <a href="/pages/contact" class="custom-mobile-drawer__contact" aria-label="Contact">
            {{ 'custom-icon-contact.svg' | inline_asset_content }}
        </a>

        <button type="button" class="custom-mobile-drawer__close" data-drawer-close aria-label="Close Menu">
            {{ 'custom-icon-close.svg' | inline_asset_content }}
        </button>

    </div>

</div>

<style>
    .custom-mobile-drawer__logo .custom-header_logo{
    width: clamp(80px, 22vw, 107px);
    max-width: none;
    }

    .custom-mobile-drawer__header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    border-bottom:1px solid rgba(255,255,255,.08);
    width: 100%;
    }

    .custom-mobile-drawer__actions {
        display: flex;
        gap: 35px;
        align-items: center;
    }

    button.custom-mobile-drawer__close {
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-mobile-drawer__contact {
    width: clamp(40px, 8vw, 50px);
    height: clamp(40px, 8vw, 50px);
    flex-shrink: 1;
}

.custom-mobile-drawer__close {
    width: clamp(30px, 8vw, 50px);
    height: clamp(30px, 8vw, 50px);
    flex-shrink: 1;
}

.custom-mobile-drawer__contact svg,
.custom-mobile-drawer__close svg {
    width: 100%;
    height: 100%;
}
</style>