{%  liquid  
    assign custom_main_menu = section.settings.custom_main_menu
%}

{% if custom_main_menu.links.size > 0 %}

    <nav class="custom-navigation" aria-label="Main Navigation">

        <ul class="custom-navigation__list">
            {% for parent in custom_main_menu.links %}
                {% if link.levels == 0 %}
                        <li class="general_menu_item main_menu_item"> {{ parent.title }} </li>
                {% elsif link.levels == 1 %}
                    <div class="mega_menu_wrapper"> 
                        <li class="mega_menu_item main_menu_item"> {{ parent.title }} </li>
                    </div>
                {% endif %}
            {% endfor %}
        </ul>

    </nav>

{% endif %}