<div class="custom-mega-menu">

    <div class="custom-mega-menu__wrapper">

        <div class="custom-mega-menu__left">

            {% if block.settings.heading != blank %}

                <h3 class="custom-mega-menu__heading">

                    {{ block.settings.heading }}

                </h3>

            {% endif %}

            {% render 'custom_mega_menu_collections',
                menu: block.settings.collection_menu
            %}

        </div>

        <div class="custom-mega-menu__right">

            {% render 'custom_mega_menu_slider',
                block: block
            %}

        </div>

    </div>

</div>

<style>
    .custom-mega-menu{
    position:absolute;
    left:0;
    top:100%;
    width:1200px;
    display:none;
    z-index:20;
}

.custom-main-menu__item:hover
.custom-mega-menu{
    display:block;
}

.custom-mega-menu__wrapper{
    padding:50px;
    background:#081C4A;
    border-radius:0 0 30px 30px;
    color:#fff;

}
</style>