<div class="custom-header__mobile-wrapper"> 

    <div class="custom-mobile-header__left">
       
        
        {% render 'custom-header-search' %}
    </div>
   
    
     <div class="custom-mobile-header__center">
        {% render 'custom_header_logo' %}
    </div>

    <div class="custom-mobile-header__right">
        {% render 'custom-header-cart' %}
    </div>

</div>