{% liquid
  assign block = block
%}

<div class="custom-mega-menu">

    <div class="custom-mega-menu__wrapper">

        <h3>
            {{ block.settings.heading }}
        </h3>

        <p>
            Mega menu placeholder
        </p>

    </div>

</div>