<div class="custom-mobile-submenu-panel">

    <div class="custom-mobile-submenu-panel__header">

        <button type="button" class="custom-mobile-submenu-panel__back" data-mobile-back>
            {{ 'icon-arrow-left.svg' | inline_asset_content }}
            <span>Back</span>
        </button>

        <h3 class="custom-mobile-submenu-panel__title">    </h3>

    </div>

    <ul class="custom-mobile-submenu-panel__list">   </ul>

</div>