<div class="custom-mega-menu">
{% comment %} <p>Parent: {{ parent.title }}</p> {% endcomment %}
    <div class="custom-mega-menu__wrapper">

        <div class="custom-mega-menu__left">

            {% if block.settings.heading != blank %}

                <h3 class="custom-mega-menu__heading">

                    {{ block.settings.heading }}

                </h3>

            {% endif %}
            
            {% render 'custom_mega_menu_collections',
                parent: parent %}

        </div>

        <div class="custom-mega-menu__right">

            {% render 'custom_mega_menu_slider',
                block: block
            %}

        </div>

    </div>

</div>

<style>
.custom-mega-menu{
    position:absolute;
    left:0;
    top:90px;
    width: 800px;
    max-width:1240px;
    opacity: 1;
    visibility: visible;
    z-index:100;
}

.custom-main-menu__item:hover > .custom-mega-menu{
    display:block;
    opacity: 1;
    visibility: visible;
}

.custom-mega-menu__wrapper{
    display:grid;
    grid-template-columns: 2fr 1fr;
    gap:60px;
    padding:55px;
    border-radius:0 0 32px 32px;
    background:#081C4A;
}

.custom-mega-menu__left{
    width:100%;
}

.custom-mega-menu__heading{
    color:#fff;
    font-size:30px;
    margin-bottom:40px;
}

/*Right Phase*/
.custom-mega-menu__right{
    display:flex;
    justify-content:center;
    align-items:center;
}
</style>