{% liquid
  assign logo = section.settings.header_logo
  assign logo_alt = shop.name
%}

<a
  href="{{ routes.root_url }}"
  class="custom-header_logo"
  aria-label="{{ shop.name }}"
>

  {% if logo != blank %}
    {{
      logo
      | image_url: width: 214
      | image_tag:
        widths: '107,160,214',
        loading: 'eager',
        class: 'custom-header__logo-image',
        alt: logo_alt
    }}
  {% else %}
    <span class="custom-header__logo-text">
      {{ shop.name }}
    </span>
  {% endif %}

</a>

<style>
    .custom_header_branding{
        display:flex;
        align-items:center;
        flex-shrink:0;
        width:var(--header-logo-width);
        height:var(--header-logo-height);
    }

    .custom-header_logo{
        display:flex;
        align-items:center;
        justify-content:center;

        width:100%;
        height:100%;

        text-decoration:none;
    }
</style>