{% if button_text != blank %}
<a 
  href="{{ button_link }}" 
  class="custom-global-button {% if transparent %}btn-transparant-bg{% endif %}"
>
  <span class="btn-text">{{ button_text }}</span>
  <span class="btn-icon">
    {% comment %} <img src="{{ 'Vector 1.svg' | asset_url }}" alt=""> {% endcomment %}
     {{ 'Vector 2.svg' | inline_asset_content }}
  </span>
</a>
{% endif %}