{%  liquid  
    assign custom_main_menu = section.settings.custom_main_menu
%}

{% if custom_main_menu.links.size > 0 %}

    <nav class="custom-navigation" aria-label="Main Navigation">

        <ul class="custom-navigation__list">
            {% for parent in custom_main_menu.links %}
                <li> {{ parent.title }} </li>
            {% endfor %}
        </ul>

    </nav>

{% endif %}