{% liquid
  assign block = block
%}

<div class="custom-mega-menu">

    <div class="custom-mega-menu__wrapper">

        <h3>
            {{ block.settings.heading }}
        </h3>

        <p>
            Mega menu placeholder
        </p>

    </div>

</div>

<style>
    .custom-mega-menu{
    position:absolute;
    left:0;
    top:100%;
    width:1200px;
    display:none;
    z-index:20;
}

.custom-main-menu__item:hover
.custom-mega-menu{
    display:block;
}

.custom-mega-menu__wrapper{
    padding:50px;
    background:#081C4A;
    border-radius:0 0 30px 30px;
    color:#fff;

}
</style>