<button class="custom-header__drawer-toggle" type="button" data-drawer-toggle aria-label="Open menu" aria-controls="mobile-drawer" aria-expanded="false">
  <span class="custom-header__drawer-icon">
    {{ 'icon-hamburger.svg' | inline_asset_content }}
  </span>
</button>



<svg width="37" height="22" viewBox="0 0 37 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 1.5H36.319M0 10.2435H36.319M0 19.6595H36.319" stroke="white" stroke-width="3"/>
</svg>

