<div id="mobile-drawer" class="custom-mobile-drawer" aria-hidden="true">

    <div class="custom-mobile-drawer__overlay" data-drawer-close> &nbsp; </div>

    <aside class="custom-mobile-drawer__panel">

        {% render 'custom_mobile_drawer_header' %}

        <div class="custom-mobile-drawer__content">
          <div class="custom-mobile-drawer__main"> {% render 'custom_mobile_menu', menu: section.settings.custom_main_menu %} </div>
          <div class="custom-mobile-drawer__submenu" id="mobile-submenu-panel"> &nbsp; </div>
        </div>

    </aside>

</div> 

<style>
.custom-mobile-drawer{
position:fixed;
inset:0;
z-index:999;
visibility:hidden;
pointer-events:none;
}

.custom-mobile-drawer.is-open{
visibility:visible;
pointer-events:auto;
}

/*Overlay*/
.custom-mobile-drawer__overlay{
position:absolute;
inset:0;
background:rgba(0,0,0,.45);
opacity:0;
transition:.3s;
}

.custom-mobile-drawer.is-open
.custom-mobile-drawer__overlay{
opacity:1;
}

/*Panel*/
.custom-mobile-drawer__panel{
position:absolute;
left:0;
top:0;
bottom:0;
width:min(92vw,380px);
background:#081C4A;
transform:translateX(-100%);
transition:transform .35s ease;
display:flex;
flex-direction:column;
}

.custom-mobile-drawer__content{
position:relative;
flex:1;
overflow:hidden;
}

.custom-mobile-drawer__main,
.custom-mobile-drawer__submenu{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
overflow-y:auto;
background:#081C4A;
transition:transform .35s ease;
}

/*Initially*/
.custom-mobile-drawer__main{
transform:translateX(0);
}
.custom-mobile-drawer__submenu{
transform:translateX(100%);
}
/*When Open*/
.custom-mobile-drawer.show-submenu
.custom-mobile-drawer__main{
transform:translateX(-100%);
}

.custom-mobile-drawer.show-submenu
.custom-mobile-drawer__submenu{

transform:translateX(0);

}


.custom-mobile-drawer.is-open
.custom-mobile-drawer__panel{
transform:translateX(0);
}
</style>