{%liquid
  assign color_scheme = section.settings.color_scheme
  assign header_menu = section.settings.header_menu
%}
<div class="color-{{ color_scheme }} gradient">
    <div class="page-width">
        <div class="header_container">
            <div class="header_container_wrapper">
                <div class="">

                </div>
            </div>
        </div>
    </div>
</div>
<style>
.header_container{
    width: 100%;
    height: 100%;
    max-width: 
}
.header_container_wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

</style>
{%  schema  %} 
{
    "name": "Custom Header",
    "class": "custom_header",
    "disabled_on": {
        "groups": ["footer", "aside"]
    },
    "settings": [
    {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color Scheme",
        "default": "scheme-5"
    },
    {
        "type": "link_list",
        "id": "header_menu",
        "label": "Header Menu"
    }
    ]
}
{% endschema %}