<div>Hello

</div>

{%  schema  %} 
{
    "name": "Custom Header",
    "class": "custom_header",
    "disabled_on": {
        "groups": ["footer", "aside"]
    },
    "settings": [

    ]
}
{% endschema %}