{{ 'custom-header.css' | asset_url | stylesheet_tag }}

{%  liquid  
assign color_scheme = section.settings.color_scheme
assign header_logo_width = section.settings.header_logo_width
assign header_logo_height = section.settings.header_logo_height
%}
<header class="custom-header color-{{ color_scheme }} gradient"
style="--header_logo_width: {{header_logo_width}}px; --header_logo_height: {{header_logo_height}}px">
     <div class="page-width custom-page-width">

        <div class="custom-header__inner">

            <div class="custom-header__branding">
                {% render 'custom_header_logo' %}
            </div>

            <div class="custom-header__navigation">
                {% render 'custom_header_navigation' %}
            </div>

            <div class="custom-header__actions">
                {% render 'custom_header_actions' %}
            </div>

            <div class="custom-header__mobile">
                {% render 'custom_header_mobile_actions' %}
            </div>


        </div>

     </div>
</header>

<style>

:root{
    --header-height:90px;
    --header-gap:42px;
    --header-radius:32px;
    --mega-width:1240px;
    --mega-padding:50px;
    --mega-bg:#081C4A;
    --primary:#52B099;
}

</style>
{%  schema  %}  
{
    "name": "Custom Header",
    "class": "custom_header",
    "disabled_on": {
        "groups": ["footer", "aside"]
    },
    "settings": [
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color Scheme",
            "default": "scheme-5"
        },
        {
            "type": "link_list",
            "id": "custom_main_menu",
            "label": "Header Menu"
        },
        {
            "type": "image_picker",
            "id": "header_logo",
            "label": "Header Logo"
        },
        {
        "type": "range",
        "id": "header_logo_width",
        "label": "Logo Width",
        "min": 80,
        "max": 180,
        "step": 1,
        "default": 107,
        "unit": "px"
        },
        {
        "type": "range",
        "id": "header_logo_height",
        "label": "Logo Height",
        "min": 30,
        "max": 130,
        "step": 1,
        "default": 65,
        "unit": "px"
        }
]
}
{% endschema %}