{%liquid
  assign color_scheme = section.settings.color_scheme
  assign header_menu = section.settings.header_menu
%}
<div class="color-{{ color_scheme }} gradient">Hello

</div>

{%  schema  %} 
{
    "name": "Custom Header",
    "class": "custom_header",
    "disabled_on": {
        "groups": ["footer", "aside"]
    },
    "settings": [
    {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color Scheme",
        "default": "scheme-5"
    },
    {
        "type": "link_list",
        "id": "header_menu",
        "label": "Header Menu"
    }
    ]
}
{% endschema %}