{%liquid
  assign color_scheme = section.settings.color_scheme
  assign custom_menu = section.settings.header_menu
  assign header_logo = section.settings.header_logo
%}
<header class="custom_header color-{{ color_scheme }} gradient">
    <div class="page-width">
        <div class="custom_header_wrapper">
            <div class="header_container_wrapper">
                <div class="header_left_content">

                </div>
                <div class="header_middle_content">

                </div>
                <div class="header_right_content">

                </div>
            </div>
        </div>
    </div>
</header>

<style>
.header_container{
    width: 100%;
    height: 100%;
    max-width: 1240px;
}
.custom_header_wrapper{
    display: flex;
    width: 100%;
    height: 100%;
}

.header_container_wrapper .header_left_content{
    display: flex;
    width: 100%;
    height: 100%;
}
.header_container_wrapper .header_middle_content{
    display: flex;
    width: 100%;
    height: 100%;
}
.header_container_wrapper .header_right_content{
    display: flex;
    width: 100%;
    height: 100%;
}

</style>
{%  schema  %} 
{
    "name": "Custom Header",
    "class": "custom_header",
    "disabled_on": {
        "groups": ["footer", "aside"]
    },
    "settings": [
    {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color Scheme",
        "default": "scheme-5"
    },
    {
        "type": "link_list",
        "id": "custom_menu",
        "label": "Header Menu"
    },
    {
        "type": "image_picker",
        "id": "header_logo",
        "label": "Logo"
    }
    ]
}
{% endschema %}