
{%  liquid  
assign color_scheme = section.settings.color_scheme
%}
<header custom-header color-{{ color_scheme }} gradient>
     <div class="page-width custom-page-width">
        
     </div>
</header>

{%  schema  %}  
{
    "name": "Custom Header",
    "class": "custom_header",
    "disabled_on": {
        "groups": ["footer", "aside"]
    },
    "settings": [
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color Scheme",
            "default": "scheme-5"
        },
        {
            "type": "link_list",
            "id": "custom_menu",
            "label": "Header Menu"
        }
]
}
{% endschema %}