{{ 'custom-header.css' | asset_url | stylesheet_tag }}

{%  liquid  
assign color_scheme = section.settings.color_scheme
%}
<header custom-header color-{{ color_scheme }} gradient>
     <div class="page-width custom-page-width">

        <div class="custom-header__inner">

            <div class="custom-header__branding">
                {% render 'custom_header_logo' %}
            </div>

            <nav class="custom-header__navigation">
                {% render 'custom_header_navigation' %}
            </nav>

            <div class="custom-header__actions">
                {% render 'custom_header_actions' %}
            </div>

            <div class="custom-header__mobile">
                {% render 'custom_header_mobile_actions' %}
            </div>


        </div>

     </div>
</header>

{%  schema  %}  
{
    "name": "Custom Header",
    "class": "custom_header",
    "disabled_on": {
        "groups": ["footer", "aside"]
    },
    "settings": [
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color Scheme",
            "default": "scheme-5"
        },
        {
            "type": "link_list",
            "id": "custom_menu",
            "label": "Header Menu"
        }
]
}
{% endschema %}