/*==================================================
Advisor Card
==================================================*/

.advisor-card{
    width:100%;
    height:100%;
    padding-top:30px;
}

.advisor-card > .advisor-card-container{
    width:100%;
    height:100%;
    max-width:100%;
    border-radius:24px;
    display:flex;
    flex-direction:column;
}

/*==================================================
Image Area
==================================================*/

.advisor-card .image-icon-wrapper{
    position:relative;
    width:100%;
    aspect-ratio:10 / 5.2;
}

.advisor-card .advisor-image{
    position:relative;
    width:100%;
    height:100%;
    display:inline-block;
    z-index:6;
}

.advisor-card .advisor-image::before{
    content:"";
    position:absolute;
    inset:0;
    width:100%;
    border-radius:24px 24px 200px 0;
    z-index:-1;
}

.advisor-card .advisor-img{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:top;
    z-index:6;

    border-bottom-right-radius:200px;
}

/*==================================================
Center Icon
==================================================*/

.advisor-card .advisor-icon{
    max-width:49px;
    position:absolute;
    left:50%;
    top:100%;
    transform:translate(-50%,-80%);
    z-index:8;
}

.advisor-card .advisor-icon img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

/*==================================================
Button
==================================================*/

.advisor-card .button-area{
    width:100%;
    height:25%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

/*==================================================
Responsive
==================================================*/

@media(max-width:1100px){

    .advisor-card .image-icon-wrapper{
        aspect-ratio:10 / 5.5;
    }

    .advisor-card .advisor-img{
        border-bottom-right-radius:190px;
    }

    .advisor-card .advisor-image::before{
        border-radius:24px 24px 190px 0;
    }

}

@media(min-width:768px) and (max-width:1023px){

    .advisor-card .image-icon-wrapper{
        aspect-ratio:10 / 6;
    }

    .advisor-card .advisor-img{
        object-fit:cover;
        border-bottom-right-radius:140px;
    }

    .advisor-card .advisor-image::before{
        border-radius:24px 24px 140px 0;
    }

}

@media(min-width:360px) and (max-width:767px){

    .advisor-card .advisor-img{
        border-bottom-right-radius:140px;
    }

    .advisor-card .advisor-image::before{
        border-radius:24px 24px 140px 0;
    }

    .advisor-card .button-area{
        padding:14px;
    }

}

@media(max-width:359px){
    .advisor-card .advisor-img{
        border-bottom-right-radius:120px;
    }
}