.custom-product-section {
    width: 100%;
    background: #06123D;
   
    --media-container-radius: 25px;
    --brand-logo-corner-radius: 50px;
    --product-media-thumb-background: #fff;
}
.custom-product-section product-info {
    border-top-left-radius: 250px;
    display: block;
}

/* .custom-product-section .media-container-bg {
    background: var(--product-media-thumb-background);
    border-radius: var(--media-container-radius);
    padding-block: 40px;
} */
 .custom-product-media-main{
  width: 100%;
}
 .custom-product-media-main .media-container-bg{
  align-items: center;
  padding: 0;
}
 .media-container-wrapper{
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
 }
.custom-product-section .productMediaSlider {
    background: var(--product-media-thumb-background);
    border-radius: var(--media-container-radius);
    padding-block: 40px;
    width: 100%;
    height: auto;
}
.custom-product-section .productMediaSliderThumbs {
    background: var(--product-media-thumb-background);
    border-radius: var(--media-container-radius);
    width: 100%;
    height: 100%; 
}
.productMediaSliderThumbs .thumbs-media{
  /* width: 100%;
  height: 100%; */
}
.productMediaSliderThumbs .thumbs-media img{
  width: 100%;
  height: 100%;
}
/* Product media breadcumb*/
.custom-product-section .custom-product-breadcrumb{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 17px;
  font-weight: 500;
}

.custom-product-section .custom-product-breadcrumb a {
  color: inherit;
  text-decoration: none;
}
.custom-product-section .breadcrumb-separator {
  color: #999;
}

/*Product media brand logo & bestseller*/

.custom-product-section .product-logo-bestseller-wrapper {
  width: 100%;
  display: flex;
}
.custom-product-section .product-logo-container{
   position: absolute;
    left: 35px;
    top: 35px;
    z-index: 2;
}

.custom-product-section .product-logo-container img {
  display: block;
  width: auto;
  max-width: 155px;
  height: auto;
}

.custom-product-bestseller{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  padding: 16px 8px;
  background: #00C8FF;
  max-width: 240px;
  width: 100%;
  border-top-right-radius: var(--media-container-radius);
  border-bottom-left-radius: var(--brand-logo-corner-radius);
}
.custom-product-bestseller-text{
  text-align: center;
  color: #fff;
  line-height: 90%;
  font-size: var(--font-body);
  font-weight: 600;
  font-family: inherit;
}
/*Slider Media*/
.custom-product-media-content img{
  width: 100%;
  height: 100%;
}
.custom-product-form__form{
  display: grid;
  gap: var(--product-content-spacing);
}


/*Product Information*/
/*Product Title*/

.custom-product-title__heading {
  margin: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
  font-size: clamp(24px, 4vw, 40px);
  font-weight: 600;
  line-height: 1;
}

.custom-product-title__link {
  color: inherit;
  text-decoration: none;
}

.custom-product-title__link:hover {
  color: inherit;
}


@media(min-width: 750px) and (max-width: 1024px){
.custom-product-bestseller{
  padding: 12px 6px;
  max-width: 55%;
}
.custom-product-section .product-logo-container {
    left: 28px;
    top: 25px;
}
.custom-product-section .product-logo-container img {
    max-width: 140px;
}
}
/*Slider Navigation & Pagination*/
/* @media(min-width: 750px){
  .hide-desktop-nav{
    display: none;
  }
  .hide-desktop-pagination{
    display: none;
  }
}
@media(max-width: 750px){
  .hide-mobile-nav{
    display: none;
  }
  .hide-mobile-pagination{
    display: none;
  }
} */
