.custom-header{
    position:relative;
    z-index:40;
    width:100%;
}

.custom-header .custom-header__inner{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap: var(--header-gap);
    min-height: var(--header-height);
}

.custom-header .custom-header__branding{
flex: 0 0 auto;
width: var(--header_logo_width);
height: var(--header_logo_height);
}

.custom-header .custom-header__navigation{
    flex: 1 1 auto;
    min-width: 0;
    max-width: 1240px;
}
.custom-header .custom-header__actions{
    flex: 0 0 auto;
}
.custom-header .custom-header__mobile{
    display: none;
}

/*Menu Item CSS*/
.custom-header .custom-navigation{
    width: 100%;
    height: 100%;
    position: static;
}
.custom-header .custom-navigation__list{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    gap: clamp(16px, 2vw, 36px);
    margin-bottom: calc(var(--main_menu_bottom_spacing) * -1);
    padding:0;
}

.custom-header ul{
    padding: 0;
    margin: 0;
}
.custom-header li{
    list-style: none;
}
.custom-header a{
    text-decoration: none;
    color: rgb(var(--color-foreground));;
    line-height: 100%;
    font-size: clamp(15px, 0.8vw + 13px, 17px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-header .custom-header__inner{
    position:relative;
}

.custom-header .main_menu_item{
    padding-bottom: var(--main_menu_bottom_spacing);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*Main menu SVG Caret*/
.custom-header .menu-caret {
    display: inline-flex;
    margin-left: 4px;
    width: 12px;
} 

.custom-header .menu-caret svg {
    transition: transform .5s ease;
}

/* Rotate when hovering the menu item */
.custom-header .mega_menu_item:hover .menu-caret svg {
    transform: rotate(-180deg);
}
/*Mega Menu CSS Start*/


.custom-header .mega_title{
    color:#fff;
    font-size: var(--font-subtitle-small);
    line-height: 90%;
    font-weight: 600;
}
.custom-header hr{
    padding: 0;
    margin: 20px 0;
    width: 95%;
}
.custom-header .mega_menu_wrapper {
    display: flex;
    position: absolute;
    width: 100%;
    height: auto;
    max-width: 1200px; 
    top:100%;
    left: 50%;
    transform:translateX(-50%);
    visibility: visible;
    opacity: 1;
    pointer-events:none;
    transition:opacity .25s ease;
    z-index:100;
}
.custom-header .custom-mega-menu{
    width:100%;
    height: 100%;
    display:grid;
    grid-template-columns:2fr 1fr;
    background:#081C4A;
    border-radius:0 0 32px 32px;
    padding: 35px;
}
/* .custom-header .mega_menu_item{
   position: static;
}   */
.custom-header .mega_menu_item:hover .mega_menu_wrapper{
    visibility: visible;
    opacity: 1;
    pointer-events:auto;
}  
/*Right Phase*/
.custom-mega-menu__left{
    width:100%;
}
.custom-mega-menu__right{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1 / .9;
}

.mega_menu_slider_content{
display: flex;
flex-direction: column;
}
.mega_menu_slider_content img{
width: 100%;
height: 100%;
object-fit: cover;
}

/*Advisor Card*/
/* .custom-header .advisor-card {
    aspect-ratio: 1;
} */
.custom-header .advisor-card>.advisor-card-container {
    background: #3F7280 !important;
    aspect-ratio: 1 / .9;
}
.custom-header .advisor-card .image-icon-wrapper {
    aspect-ratio: 10 / 6.8 !important;
}
.custom-header .advisor-card .advisor-img {
    border-bottom-right-radius: 180px !important;
}
.custom-header .advisor-card .advisor-image:before {
    content: none !important;
}
.custom-header .custom-global-button:hover .btn-icon {
  opacity: 1;
  transform: translateX(8px); /* arrow appears smoothly */
}
.custom-header .custom-global-button{
    background: #FFFFFF !important;
    outline: 2px solid #52B099 !important;
}
.custom-header .custom-global-button .btn-text {
    color: #52B099 !important;
}
.custom-header .btn-icon path{
    fill: #52B099 !important;
}
/*Header slider*/
.custom-header .mega-slider{
    width:100%;
    overflow:hidden;
}
/* Controls */

.mega-slider .mega-slider__controls{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:12px;
    margin-top:12px;
}
/* Pagination */

.mega-slider .swiper-pagination{
    position:static;
    width:auto;
    display:flex;
    align-items:center;
    justify-content:center;
}
.custom-header .swiper-pagination-bullet{
   background: #fff;
    opacity: 25%; 
}
.custom-header .swiper-pagination-bullet-active{
    background: #fff;
    opacity: 50%;
}

/*swiper navigation*/
.mega-slider .swiper-button-prev,
.mega-slider .swiper-button-next {
    position: static;
    max-width: 24px;
    width: 100%;
    margin: 0;
    flex-shrink: 0;
    opacity: 1;
    transition: opacity .3s ease;
}

.mega-slider .swiper-button-prev img,
.mega-slider .swiper-button-next img{
    width:24px;
    height:24px;
    display:block;
}

.mega-slider .swiper-button-prev img{
    transform:rotate(180deg);
}

.mega-slider .swiper-button-prev .swiper-navigation-icon,
.mega-slider .swiper-button-next .swiper-navigation-icon{
    display:none !important;
}

/* Disabled arrow */
.mega-slider .swiper-button-disabled {
    opacity: .25 !important;
    pointer-events: none;
}
@media (max-width: 1100px){
    .custom-mega-menu__right{
        max-width: 350px;
    }
} 