.custom-header{
    position:relative;
    z-index:40;
    width:100%;
}

.custom-header__inner{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:42px;
    min-height:90px;
    position:relative;
}

.custom-header .custom-header__branding{
display: flex;
width: var(--header_logo_width);
height: var(--header_logo_height);
}