<style>

.custom-features-slider-{{ section.id }} .slide-media-main {
        overflow: hidden;
        min-height: 640px;
        max-width: 1604px; 
        border-radius: var(--radius);
    }   
      
    .featuresSlider .slide-background-media{
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        inset: 0;
        background-position: right;
        background-attachment: fixed;
        z-index: 1;
    }
    .featuresSlider .media-gradient {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    .featuresSlider .featured-slider-content {
    position: absolute;
    inset: 0;
    z-index: 3;
    max-width: 735px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 0px 70px 180px;
} 
.featuresSlider .title {
  max-width: var(--title-width);
}

.featuresSlider .desc {
  max-width: var(--desc-width);
  color: rgba(var(--color-foreground), 1) !important;
}

.featured-slider-content > div:nth-child(4) {
    margin-top: auto;
  }

.featuresSlider .swiper-nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 40px;
  }
.featuresSlider .swiper-button-next, .swiper-button-prev{
        position: relative;
        right: 0 !important;
        margin-top: 0 !important;
  }
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none; /* optional */
}
.featuresSlider .swiper-nav-wrapper .swiper-pagination{
    width: auto;
  }

@media(min-width: 1201px) and (max-width: 1400px){
 .custom-features-slider-{{ section.id }} .slide-media-main {
  min-height: 540px;
  }
.custom-features-slider-{{ section.id }} .title{
  font-size: var(--font-title-semimedium);
}

}
@media(min-width: 1024px) and (max-width: 1200px){
  
  .custom-features-slider-{{ section.id }} .slide-media-main {
  min-height: 480px;
  }

 .featuresSlider .featured-slider-content {
  padding: 60px 0px 60px 120px;
}
.featuresSlider .featured-middle-content {
    padding: 20px 0 20px !important;
}
.featuresSlider .title{
  font-size: var(--font-title-exmedium);
  max-width: 475px;
}
.featuresSlider .desc {
    max-width: 450px;
}
}

@media(min-width: 767px) and (max-width: 1024px) {
 .custom-features-slider-{{ section.id }} .slide-media-main {
  min-height: 450px;
  border-radius: 120px;
  }
  .featuresSlider .title{
  font-size: var(--font-title-small);
  max-width: 440px;
}
  
  .featuresSlider .featured-slider-content {
  padding-left: 100px;
}
.featuresSlider .desc p {
    font-size: var(--font-body-small);
}

} 

@media(max-width: 767px){
  .featuresSlider .slide-media-main {
    display: flex;
    flex-direction: column;
    min-height: auto;
    height: auto;
    border-radius: 120px;
  }

 .custom-features-slider-{{ section.id }} .page-width{
    padding: 0 32px;
  }
.featuresSlider .slide-media-main .mobile-media {
  min-height: 260px;
  max-height: 320px;
} 
.featuresSlider .slide-media-main .mobile-media svg{
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

 .featuresSlider .slide-media-main .mobile-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 .featuresSlider .featured-slider-content{
    position: relative;
    padding: 32px 25px;
    justify-content: flex-start;
    flex: 1;
  }
.featured-slider-content > div:nth-child(4) {
    margin-top: 20px;
    }
  }
</style>